<label>Username</label>
<input
  type="text"
  class="form-control"
  [(ngModel)]="userName">
<button
  class="btn btn-primary"
  [disabled]="isUserNameEmpty()"
  (click)="onClearUserName()">Clear Username
</button>
<p>The user name is {{userName}}</p>
<label>Server Name</label>
<!--<input
  type="text"
  class="form-control"
  (input)="onUpdateServerName($event)">-->
<input
  type="text"
  class="form-control"
  [(ngModel)]="serverName">
<!--<p>{{serverName}}</p>-->
<button
  class="btn btn-primary"
  [disabled]="!allowNewServer"
  (click)="onCreateServer()">Add Server
</button>
<p>The allow New Server flag is {{allowNewServer}}</p>  <!--String interpolation-->
<!--<p [innerText]="allowNewServer"></p>-->  <!--Property binding -->
<p>{{serverCreationStatus}}</p>
<br>
<br>
<app-server></app-server>
<app-server></app-server>

